<div class="card box p-2 border border-4 border-dark rounded-3"  style="background-image: url(<%= category.image %>);  background-size: cover;">
  <div class="card-body d-inline-flex m-2 mx-auto" style="background-color: rgba(210, 210, 210, 0.7); width:100%;" >
    <h4 class="text-break card-title text-center"><%= category.name %></h4>
  </div>
</div>
