.banner {
  background-image: url(banner1.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.baner-image {
  height: 500px;
  width: 100%;
  img {
    height: 100%;
  }
}
