.container {
  width: 900px;
  margin: auto;
  min-height: 400px;
}

.container-image-booking-show {
  img{
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .8;
  font-size: 20px;
}

.text-center {
  text-align: center;
}
