.navbar-lewagon {
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/dtzj3sqwl/image/upload/v1665248213/5073414_q95tse.jpg");

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}
